// color variables:
$black: #000;
$white: #FFF;

$light-grey: #EEE;
$med-grey: #CCC;
$dark-grey: #999;
$darkest-grey: #666;
$charcoal: #333;
$coal: #212121;

$gold: #B8860B;
$blue: #4169E1;
$yellow : #FFD700;
$cool-grey : #CCD;
    
// font variables:
$arial: Arial, sans-serif;
$damion: 'Damion';
$impact: Impact, sans-serif;